.code-block-container {
  position: relative;
}

.button-hidden,
.button-visible {
  position: absolute;
  padding: 0;
  width: 35px;
  background-color: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-tertiary);
  color: var(--color-text-tertiary);
  border-radius: 4px;
  left: 0;
  right: 0;
  margin: 12px 12px 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-hidden svg,
.button-visible svg {
  min-width: 16px;
  min-height: 16px;
  transform: translateX(0); /* for some reason this centers the SVG in safari */
}

.button-visible:hover {
  background-color: var(--color-btn-hover-bg);
}

.button-visible:active {
  background-color: var(--color-btn-active-bg);
}

/* Clever transition code from here: https://stackoverflow.com/a/50546888 */
.button-hidden {
  overflow: hidden; /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: height 0ms 0.2s, opacity 0.2s 0ms;
}

.button-visible {
  height: 35px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 0.2s 0ms;
}
